<!doctype html>
<html>
<head>
	<title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <% if (userFullName) { %>
        <h2>Hello <%= userFullName %></h2>
        <a href="/signout">Signout</a>
    <% } else {%>
        <a href="/signup">Sign up</a>
        <a href="/signin">Sign in</a>
    <% }%>
</body>
</html>
